$minWidth:320;
$maxWidth:1440;
$maxWidthContainer: 1370;
$md1:$maxWidthContainer + 12;
$md2:991.98;
$md3:767.98;
$md4:479.98;

// Colors

$dark-accent: #170119;
$white-text: #FFEFF6;
$black: #383030;
$red: #d4041c;
$rose: #FFECEE;
// Fonts

$fontfamily: 'Archivo', sans-serif;