// Footer
footer.site-footer.footer
	.footer__contact
		a.footer__contact-link(href="#")
			span Contact us
	.container
		.footer__copyright
			.footer__column
				span Floaat © 2019
			.footer__column
				a(href="#")
					img(src="./img/footer/next-logo.svg", alt="")
					span Made by Nextpage

